# Progressly Environment Template
DEBUG=True
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgresql://user:password@localhost:5432/db

BREVO_API_KEY=
BREVO_API_URL=https://api.brevo.com/v3/smtp/email
DEFAULT_FROM_EMAIL=Progressly <progressly.offical@gmail.com>
SERVER_EMAIL=progressly.offical@gmail.com
APP_NAME=Progressly
EMAIL_LOGO_URL=https://progressly-backend-dlbb.onrender.com/static/email/logo.png
ADMIN_EMAIL=progressly.admin@gmail.com

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
